DATABASE_URL="postgresql://neondb_owner:npg_J9qeavzAn1Tr@ep-dark-dawn-axzanjlu-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

VITE_CLERK_PUBLISHABLE_KEY="pk_test_ZW5hYmxpbmctbXVza3JhdC04Ny5jbGVyay5hY2NvdW50cy5kZXYk"

CLERK_SECRET_KEY="sk_test_9DbCqMNnpNdBTrqIGuKYoqDzwa1aN4loA1GL9yv7El"